# Cypress specific folders and files to ignore
cypress/screenshots/
cypress/videos/
cypress/reports/
cypress/downloads/
cypress-visual-report/
cypress-visual-screenshots/

# Node modules
node_modules/